{% extends "base.html" %}  

    { {% block head %}
    <title>follow memelords</title>
{% endblock head %}}
 {% block body %}

<nav class="navbar navbar-expand text-white shadow navbar " style="background-color:black;">Follow your favourite MemeLords 
</nav>


  <br/>

<div class = 'container'>
{% for user in users %}  
 <span class="separator">
            <div class="row flex" style="width: 10.5rem; height:9.5rem; display:table-row-group;"  >
                
                <div class="card  border-grey border-top-rounded mb-3 shadow-sm " >
                    <a href="{% url 'login:view_profile_with_pk' pk=user.pk %}">
                      <div class='container'><br/>
                        <img src="{% if user.userprofile.image %}{{ user.userprofile.image.url  }}{% else %}https://media.istockphoto.com/vectors/text-message-speech-bubbles-icon-silhouette-vector-id1300024904?b=1&k=6&m=1300024904&s=170667a&w=0&h=GfbglmloS3dlO1FePDV5S0gOfHgQDDk--k5ceoT1Hvo={% endif  %}" style="width: 10.5rem; height:9.5rem;">
                      </div>
                    </a>
                   
                    <div class="container">
                    <a href="{{ product.get_absolute_re_path }}"><h6><b>{{ user.username }}</b></h6></a>
                    
                    <div class="" style="color:grey;">
                    
                           {% if not user in friends %}
                          <a href="{% url 'home:change_friends' operation='add' pk=user.pk %}">
                            <button type="submit" class="btn btn-sm btn-outline-primary " name="button">follow</button> 
                          </a>  {% else %}
                          {% endif %} 
                    </div>
                    
                    <br/>
                    </div>
                    
                   
                
                </div>
            </div>
        </span>
        
        {% empty %}

          <h5>No Memelords to Show</h5>
          {% endfor %}
          
</div>



 {% endblock body %}